#################
# IntelliJ IDEA #
#################
.idea/workspace.xml
.idea/scopes/*
.idea/copyright/*


#################
# Generate Code #
#################
gen/
bin/

############
# Mac OS X #
############
.DS_Store

libs/*
!libs/.gitkeep