<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.supinfo.supcrowdfunder">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".activity.IndexActivity" android:label="@string/indexTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ContributeActivity" android:label="@string/contributeTitle" />
        <activity android:name=".activity.ProjectDetailsActivity" />
        <activity android:name=".activity.AddProjectActivity" android:label="@string/addProjectTitle" />
        <activity android:name=".activity.RegistrationActivity" android:label="@string/registrationTitle" />
        <activity android:name=".activity.CategoryActivity" android:label="@string/categoryTitle"/>
        <activity android:name=".activity.LoginActivity" android:label="@string/loginTitle" />
        <activity android:name=".activity.LogoutActivity" android:label="@string/menuLogout" />
        <activity android:name=".activity.ViewUserActivity" android:label="@string/viewuserTitle" />
        <activity android:name=".activity.EditUserActivity" android:label="@string/edituserTitle" />
    </application>
</manifest>
